:root {
  --color-brand: #2196f3;
  --color-text: #212121;
  --color-cap-text: #f5f5f5;
  --color-second-text: #757575;
  --background-premiori: #2f303a;
  --background-white: #ffffff;
  --background-gray: #f5f4fa;
  --color-white-text: #ffffff;
  --card-background: rgba(255, 255, 255, 1);
  --button: rgba(33, 150, 243, 1);
}

/* <svg width="" height="" >
   <use href=""></use>
</svg> */

body {
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  /* transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in; */
  transition: color 300ms ease-in;
}
.link:hover,
.link:focus {
  color: rgba(33, 150, 243, 1);
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

/* --------common styles----------- */
.btn {
  background-color: var(--color-brand);
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #2196f3;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------header------------- */
.header {
  /* position: fixed; */
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-nav {
  color: var(--background-white);
  background-color: var(--background-white);
  font-family: inherit;
}
.logo {
  color: var(--color-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}
.logo-blac {
  color: #000000;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: auto;
}
/* .header-list::before {
  margin-right: 10px;
  background-image: url(../images/header/smartphone.png);
} */
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-family: inherit;
}
.header-link-accent {
  position: relative;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-family: inherit;
}

.header-link-accent-carent::after {
  content: "";

  position: absolute;
  bottom: -34px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

.header-link-contact {
  color: var(--color-second-text);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.header-link-contact:hover .header-link-icon,
.header-link-contact:focus .header-link-icon {
  fill: #2196f3;
}

.header-link-icon {
  fill: var(--color-second-text);
}

/* ----------hero---------- */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-premiori);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-btn {
  min-width: 216px;
  height: 50px;
  margin: 30px auto 0;
  display: block;
}

/* ----------Features---------- */
/* portfolio-titel */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-img {
  display: flex;
  padding: 25px 100px;
}
.bg-feeatures {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-list {
  display: flex;
  gap: 30px;
}
/* .features-item:not(:last-child) {
  margin-right: 30px;
} */
.features-subtitel {
  color: var(--color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  color: var(--color-second-text);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ------------ workers ------------*/
.workers-titel {
  color: var(--color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.workers-list {
  display: flex;
  gap: 30px;
}

.workers-item {
  width: 370px;

  position: relative;
}

.workers-item::before {
  content: attr(data-application);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

/* .workers-item:not(:last-child) {
  margin-right: 30px;
} */

/* ------------ Team ------------ */
.team {
  background-color: #f5f4fa;
}
.team-titel {
  color: var(--color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-text {
  color: var(--color-second-text);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 16px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.paddig-team {
  padding: 30px 10px;
  text-align: center;
}

.team-subtitel {
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.cocials-list-team {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.cocials-icon-team {
  fill: #afb1b8;
  transition: fill 250ms ease-in-out;
}

.cocials-link:hover .cocials-icon-team {
  fill: #ffffff;
}
.team-item {
  width: 270px;
}

.team-background {
  background-color: var(--card-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item {
  overflow: hidden;
}
.team-img {
  transition: transform 800ms;
}
.team-item:hover .team-img {
  transform: scale(1.2);
}
/* ------------client------------ */
.client-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.client-list {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.client-icon {
  /* align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; */
  fill: #afb1b8;
  padding: 16px 32px;
}
.bg-client:hover .client-icon {
  fill: #2196f3;
}
.bg-client:hover,
.bg-client:focus {
  border-color: #2196f3;
  cursor: pointer;
}
.bg-client {
  background-color: rgb(255, 255, 255);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

/*  ------------footer ------------ */
.footer {
  background-color: var(--background-premiori);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-whayte {
  color: #ffffff;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-style: normal;
}
.cocials-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
}
.cocials-list {
  display: flex;
  gap: 10px;
}
.cocials-icon-item {
  width: 44px;
  height: 44px;
}

.cocials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cocials-link:hover,
.cocials-link:focus {
  background-color: #2196f3;
}

.footer-wrap {
  display: flex;
  gap: 70px;
}
.cocials-icon-footer {
  fill: #ffffff;
}
.footer-input {
  display: flex;
  gap: 12px;
}

/* ------------Portfolio------------ */

.btn-filters:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-filters:hover {
  color: rgb(255, 255, 255);
}

.btn-filters {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: auto;
  height: 38px;
  padding: 6px 22px;
}
.btn-filters-list {
  margin-bottom: 50px;
  display: flex;
  /* gap: 8px; */
  justify-content: center;
}
.btn-filters-item:not(:last-child) {
  margin-right: 8px;
}
.background-portfolio {
  width: 370px;
  background-color: var(--card-background);
}
.portfolio-card-border {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}
.background-portfolio:hover,
.background-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-sabtitel {
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
.portfolio-list {
  width: 1170;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}
.portfolio-list-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-list-overlay {
  transform: translateY(100%);

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--color-cap-text);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  box-sizing: border-box;

  background-color: rgba(33, 150, 243, 0.8);
  transition: transform 400ms ease-in;
}
.background-portfolio:hover .portfolio-list-overlay {
  transform: translateY(0);
}

.portfolio-img {
}

/* ========== Modal window ========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #ff0000;
}
